* {
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
}
 /* Navigation */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 28px;
    width: 54px;
    border: 1px solid #dde3ee;
    background-color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
.catalog__nav {
    width: 220px;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #dde3ee;
    padding-top: 28px;
}

.main {
    flex: 1;
    box-sizing: border-box;
    height: 100%;
    background-color: #f8f9fa;
    padding-left:54px
}
.main__catalog {
    display: flex;
    height: 100vh;
}

.catalog__content {
    flex: 1;
    height: 100%;
}
.content__header-wrapper {
    height: 120px;
    width: 100%;
    border-bottom: 2px solid #DBE0F3;
}
/* HEADER */
.content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background: #F8F9FA;
    padding-left: 50px;
}
.content__header-btn {
    background-color: #61D5DF;
    color: white;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    margin-right: 25px;
    padding: 10px;
    font-size: 12px;
    border: none;
}
.content__header-title {
    font-size: 12px;
    font-weight: bold;
}
#search {
    height: 40px;
    width: 480px;
    border-radius: 8px;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid rgba(95,102,115,.1);
    color: #29304b;
    padding: 0 16px;
}
#search-btn {
    width: 48px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
#search-btn::before {
    display: block;
    top: 5px;
    left: 50%;
    color: #a8a4a4;
    font-size: 16px;
    opacity: .5;
}
.side-btn {
    background-color: #61D5DF;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    outline: 0;
    padding: 10px;
    margin: 0 0 0 14px;
    border: none;
}
.help-btn {
    font-size: 14px;
    border: 2px solid #49547d;
    width: 24px;
    height: 24px;
    background-color: #fdfcfc;
    color: #49547d;
    border-radius: 50%;
    font-weight: bolder;
    outline: 0;
    cursor: pointer;
    margin-left: 10px;
}
.side-search {
    height: 40px;
    position: relative;
}
.header-side {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
}
.content__sort {
    width: 100%;
    height: 47px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-bottom: 1px solid #dde3ee;
}
.content__sort label {
    color: #a8a4a4;
}
#sort {
    margin-left: 10px;
    padding-right: 5px;
    border: none;
    cursor: pointer;
}
/* MAIN CONTENT(CATALOG) */
.content__products {
    display: flex;
    width: 100%;
    overflow: auto;
}
#products-wrapper {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 20px;
    height: calc(100vh - 120px);
    gap: 8px;
}
.products-item {
    flex: 1 300px;
    max-width: 300px;
    height: 285px;
    background-color: #fff;
    border: 1px solid #e4e5ec;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    box-sizing: border-box;
    position: relative;
}
.products-item:hover {
    border: 2px solid #61D5DF;
    cursor: pointer;
}
.products-image {
    width: 100%;
    height: 170px;
    vertical-align: middle;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-image img {
    max-width: 100%;
    max-height: 100%;
}
.products-title {
    padding: 10px;
}
.products-title h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
.products-price {
    border-top: 2px solid #e4e5ec;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.checkbox-container {
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    display: flex;
}
#products__item--input {
    border-radius: 3px;
    outline: 0;
    border: 1px solid #d3d4dc;
    display: none;
}
.check {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #61d5df;
    align-items: center;
    justify-content: center;
    border: none;
    display: flex;
    top: 20px;
    left: 10px;
}
.check::before {
    content: "";
    display: block;
    width: 8px;
    height: 3.7px;
    position: relative;
    top: -1px;
    left: .5px;
    border: 2.8px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}